.signin-form button {
    margin-top: 20px;
    align-items: right;
    align-self: right;
    cursor: pointer;
    background-color: var(--vistablue);
    color: white;
    font-family: 'Poppins';
    font-weight: bold;
    border: none;
    padding: 10px 20px 10px 20px;
    width: 96%;
    height: 60px;
    border-radius: 30px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.signin-form button:hover {
    background-color: var(--lightpurple);
    color: var(--delftblue);
}

.signin-form button:disabled {
    background-color: var(--gray);
    color: white
}

.signin-form button:disabled:hover {
    cursor: not-allowed;
}

.label {
    font-family: 'Poppins';
}

.footer-label {
    font-family: 'Poppins';
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}